div{
    display: inline-block
}
#status{
    color: red;
}
#value{
    color: greenyellow;
    text-shadow: black;
    font-size: 20pt;
    border: 1px solid yellow;
    padding: 20px;
}
body{
    background-color: #222222;
    color:#777777;
}